<p>
<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
  <input #query (keyup)="onSearch(query.value)" type="text" class="form-control" placeholder="Search....">
</p>
<div>


 <table class="table table-hover">
 <thead>
  <tr>
   <th scope="col">Name</th>
   <th scope="col">Title</th>
   <th scope="col">Price</th>
    <th scope="col">Category</th>
  </tr>
 </thead>
 <tbody>
  <tr *ngFor="let p of filteredProducts">
   <td>{{p.name}}</td>
   <td>{{p.brand}}</td>
   <td>{{p.price}}</td>
  <td>{{p.category.name}}</td>
   <td><a [routerLink]="['/admin/products/', p.id]">Edit</a></td>
  </tr>
  
</table> 
