<p>
<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
  <input #query (keyup)="onSearch(query.value)" type="text" class="form-control" placeholder="Search....">
</p>
<table class="table table-hover">
 <thead>
  <tr>
   <th scope="col">Name</th>
   <th scope="col">Brand</th>
   <th scope="col">Price</th>
  </tr>
 </thead>
 <tbody>
  <tr *ngFor="let p of filteredProducts">
   <td>{{p.name}}</td>
   <td>{{p.brand}}</td>
   <td>{{p.price}}</td>
   <td><a [routerLink]="['/admin/products/', p.id]">Edit</a></td>
  </tr>
  
</table>
